$light: #FFC75F; 
$primary: #845EC2; 

.customForm {
    max-width: 1000px;
    background-color: rgb(247, 243, 225); 
    text-align: center; 
    padding: 10px; 
    margin: 10px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginInput {
    border-radius: 10px; 
    padding: 5px; 
    margin: 5px; 
    max-width: 500px;
}

#output-section {
    border-radius: 10px;
    max-width: 1000px;
    padding: 5px; 
    margin: 10px; 
    height: 500px;
    overflow: scroll;
    background-color: lightgoldenrodyellow; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3, h4 {
    text-align: center;
}

.historyItem {
    list-style: none;
    background-color: rgb(236, 236, 236);
    border: 1px solid black;
    margin-top: 5px;
    padding: 5px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

@import "~bootstrap/scss/bootstrap";